body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("red.jpg");
    background-size: cover;
    background-position: center;
}

.login-box {
    background: rgba(245, 98, 98, 0.8); 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
}

button {
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
}